*{box-sizing:border-box}
body{margin:0;font-family:Arial;background:#0b1020;color:#fff}
header{padding:10px;background:#121a36;display:flex;justify-content:space-between}
main{display:flex;height:calc(100vh - 60px)}
canvas{flex:3;background:#000}
aside{flex:1;background:#10183a;padding:10px;overflow:auto}
input,button{width:100%;margin:5px 0}
button{padding:8px;background:#18e0ff;border:none;border-radius:4px}
.download{background:#00ff9d}